{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='vendors/css/file-uploaders/dropzone.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/plugins/file-uploaders/dropzone.css') }}">

<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">Customers</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a>
          </li>
          <li class="breadcrumb-item"><a href="/employees">Customers</a>
          </li>
          <li class="breadcrumb-item active">Edit
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="content-body">
  <!-- Zero configuration table -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title" id="horz-layout-colored-controls">Customer Record for {{data['name']['first']}}  {{data['name']['last']}} (DOB: {{data['dob']}})</h4>
          <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          <div class="heading-elements">
            <ul class="list-inline mb-0">
              <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
              <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
              <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
              <li><a data-action="close"><i class="ft-x"></i></a></li>
            </ul>
          </div>
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-success mb-2" style="margin-top: 10px; margin-bottom: 0px;">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
          {% endwith %}
        </div>
        <div class="card-content collpase show">
          <div class="card-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
              <a class="nav-link active" id="active-tab" data-toggle="tab" href="#active" aria-controls="active"
              aria-expanded="true">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="sub-tab" data-toggle="tab" href="#sub" aria-controls="sub"
              aria-expanded="false">Subscription</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="medical-tab" data-toggle="tab" href="#medical" aria-controls="medical"
              aria-expanded="false">Medical History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="dental-tab" data-toggle="tab" href="#dental" aria-controls="dental"
              aria-expanded="false">Dental History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="medications-tab" data-toggle="tab" href="#medications" aria-controls="medications">Medications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="insurance-tab" data-toggle="tab" href="#insurance" aria-controls="insurance"
              aria-expanded="false">Insurance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="images-tab" data-toggle="tab" href="#images" aria-controls="images">Images</a>
            </li>
          </ul>

          <!-- Start Contact Information -->
          <div class="tab-content px-1 pt-1">
            <div role="tabpanel" class="tab-pane active in  px-1 pt-1" id="active" aria-labelledby="active-tab" aria-expanded="true">
            <form class="form form-horizontal" method="POST" id="customer-edit" name="customer-edit" action="">
              {{ form.hidden_tag() }}
              {{ form.user_id(id="user-id") }}
              <div class="form-body">
                <!-- Customer First Name -->
                <div class="form-group row">
                  <label class="col-md-2 label-control" for="customer-firstname">{{ form.first_name.label }}</label>
                  <div class="col-md-6">
                    {{ form.first_name(class="form-control", id="customer-firstname") }}
                    {% for error in form.first_name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                  </div>
                </div>

              <!-- Customer Middle Initial -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-middleinitial">{{ form.middle_initial.label }}</label>
                <div class="col-md-6">
                  {{ form.middle_initial(class="form-control", id="customer-middleinitial", placeholder="Middle Initial") }}
                  {% for error in form.middle_initial.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer Last Name -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-lastname">{{ form.last_name.label }}</label>
                <div class="col-md-6">
                  {{ form.last_name(class="form-control", id="customer-lastname", placeholder="Last Name") }}
                  {% for error in form.last_name.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer Email -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-email">{{ form.email.label }}</label>
                <div class="col-md-6">
                  {{ form.email(class="form-control", id="customer-email") }}
                  {% for error in form.email.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer Home Phone -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-homephone">{{ form.home_phone.label }}</label>
                <div class="col-md-6">
                  {{ form.home_phone(class="form-control phone-inputmask", id="customer-homephone", placeholder="") }}
                  {% for error in form.home_phone.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer Mobile Phone -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-mobilephone">{{ form.mobile_phone.label }}</label>
                <div class="col-md-6">
                  {{ form.mobile_phone(class="form-control phone-inputmask", id="customer-mobilephone", placeholder="") }}
                  {% for error in form.mobile_phone.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer Date of Birth -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-dob">{{ form.dob.label }}</label>
                <div class="col-md-6">
                  {{ form.dob(class="form-control date-inputmask", id="customer-dob", placeholder="") }}
                  {% for error in form.dob.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <h4 class="form-section"><i class="icon-eye6"></i> Home Address</h4>

              <!-- Customer Street Address -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-street_address">{{ form.street_address.label }}</label>
                <div class="col-md-6">
                  {{ form.street_address(class="form-control", id="customer-street_address", placeholder="Street Address") }}
                  {% for error in form.street_address.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer Street Address 2 -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-street_address_2">{{ form.street_address_2.label }}</label>
                <div class="col-md-6">
                  {{ form.street_address_2(class="form-control", id="customer-street_address_2", placeholder="Street Address 2 (optional)") }}
                  {% for error in form.street_address_2.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer City -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-city">{{ form.city.label }}</label>
                <div class="col-md-6">
                  {{ form.city(class="form-control", id="customer-city", placeholder="City") }}
                  {% for error in form.city.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer State -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-state">{{ form.state.label }}</label>
                <div class="col-md-6">
                  {{ form.state(class="form-control", id="customer-state", placeholder="") }}
                  {% for error in form.state.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

              <!-- Customer ZIP -->
              <div class="form-group row">
                <label class="col-md-2 label-control" for="customer-zipcode">{{ form.zipcode.label }}</label>
                <div class="col-md-6">
                  {{ form.zipcode(class="form-control", id="customer-zipcode", placeholder="") }}
                  {% for error in form.zipcode.errors %}
                  <span style="color: red;">[{{ error }}]</span>
                  {% endfor %}
                </div>
              </div>

            </div>
          </div>
          <!-- End Contact Information -->

          <!-- Start Subscription Pane -->
          <div class="tab-pane" id="sub" role="tabpanel" aria-labelledby="sub-tab" aria-expanded="false">
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="customer-firstname">Access Code</label>
              <div class="col-md-2">
                {{ access_code }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="customer-firstname">{{ form.active.label }}</label>
              <div class="col-md-2">
                {{ form.active(class="form-control", id="sub-active", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="customer-firstname">{{ form.status.label }}</label>
              <div class="col-md-4">
                {{ form.status(class="form-control", id="sub-status", placeholder="") }}
              </div>
            </div>
          </div>
          <!-- End Subscription Tab Pane -->

          <!-- Start Medical History Pane -->
          <div class="tab-pane form" id="medical" role="tabpanel" aria-labelledby="medical-tab" aria-expanded="false">
            <h4 class="form-section"><i class="fa fa-weight"></i> Physical Exam</h4>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="customer-firstname">{{ form.gender.label }}</label>
              <div class="col-md-2">
                {{ form.gender(class="form-control", id="gender", placeholder="--") }}
                {% for error in form.gender.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>

            <!-- Blood Pressure -->
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="customer-firstname">{{ form.blood_pressure_systolic.label }}</label>
              <div class="col-md-2">
                {{ form.blood_pressure_systolic(class="form-control", id="blood_pressure_systolic", placeholder="mm Hg") }}
                {% for error in form.blood_pressure_systolic.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
              <div class="col-md-2 bold">
                {{ form.blood_pressure_diastolic.label }}
              </div>
              <div class="col-md-2">
                {{ form.blood_pressure_diastolic(class="form-control", id="blood_pressure_diastolic", placeholder="mm Hg") }}
                {% for error in form.blood_pressure_diastolic.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="customer-firstname">{{ form.blood_type.label }}</label>
              <div class="col-md-2">
                {{ form.blood_type(class="form-control", id="height", placeholder="inches") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="customer-firstname">{{ form.height.label }}</label>
              <div class="col-md-2">
                {{ form.height(class="form-control", id="height", placeholder="inches") }}
                {% for error in form.height.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="customer-firstname">{{ form.weight.label }}</label>
              <div class="col-md-2">
                {{ form.weight(class="form-control", id="weight", placeholder="lbs") }}
                {% for error in form.weight.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.bmi.label }}</label>
              <div class="col-md-2">
                {{ form.bmi(class="form-control", id="bmi", placeholder="") }}
                {% for error in form.bmi.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.heart_rate.label }}</label>
              <div class="col-md-2">
                {{ form.heart_rate(class="form-control", id="bmi", placeholder="") }}
                {% for error in form.heart_rate.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
              </div>
            </div>

            <h4 class="form-section"><i class="fa fa-weight"></i> History</h4>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.allergies.label }}</label>
              <div class="col-md-6">
                {{ form.allergies(class="form-control", id="allergies", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.patient_preferences.label }}</label>
              <div class="col-md-6">
                {{ form.patient_preferences(class="form-control", id="patient_preferences", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.patient_consents.label }}</label>
              <div class="col-md-6">
                {{ form.patient_consents(class="form-control", id="patient_consents", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.family_history.label }}</label>
              <div class="col-md-6">
                {{ form.family_history(class="form-control", id="family_history", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.lifestyle_history.label }}</label>
              <div class="col-md-6">
                {{ form.lifestyle_history(class="form-control", id="lifestyle_history", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.social_history.label }}</label>
              <div class="col-md-6">
                {{ form.social_history(class="form-control", id="social_history", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.care_plan.label }}</label>
              <div class="col-md-6">
                {{ form.care_plan(class="form-control", id="care_plan", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.lab_results.label }}</label>
              <div class="col-md-6">
                {{ form.lab_results(class="form-control", id="lab_results", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.referrals.label }}</label>
              <div class="col-md-6">
                {{ form.referrals(class="form-control", id="referrals", placeholder="") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.current_problems_0.label }}</label>
              <div class="col-md-6">
                {{ form.current_problems_0(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_1(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_2(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_3(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_4(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_5(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_6(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_7(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_8(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>

            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">&nbsp;</label>
              <div class="col-md-6">
                {{ form.current_problems_9(class="form-control", id="referrals", placeholder="Current Medical Condition") }}
              </div>
            </div>


          </div>
          <!-- End Medical Tab Pane -->

          <div class="tab-pane" id="dental" role="tabpanel" aria-labelledby="dental-tab" aria-expanded="false">
            <h4 class="form-section"><i class="fa fa-user-md"></i> Dental Provider</h4>
            <div class="form-group row px-1 pt-1">
              <div class="col-md-8">
                {{ form.dentist_name(class="form-control", id="dentist_name", placeholder="Dentist's Name") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <div class="col-md-4">
                {{ form.dentist_phone(class="form-control", id="dentist_phone", placeholder="Dentist's Phone") }}
              </div>
              <div class="col-md-4">
                {{ form.dentist_email(class="form-control", id="dentist_email", placeholder="Dentist's Email") }}
              </div>
            </div>

            <h4 class="form-section">Dental History</h4>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.dental_condition.label }}</label>
              <div class="col-md-6">
                {{ form.dental_condition(class="form-control", id="", placeholder="") }}
              </div>
            </div>
          </div>
          <!-- End Dental Tab Pane -->

          <!-- Start Medications Tab Pane -->
          <div class="tab-pane" id="medications" role="tabpanel" aria-labelledby="medications-tab" aria-expanded="false">
              <h4 class="form-section">Current Medications</h4>
                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_0(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_0(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_0(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_1(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_1(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_1(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_2(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_2(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_2(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_3(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_3(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_3(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_4(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_4(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_4(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_5(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_5(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_5(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_6(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_6(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_6(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_7(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_7(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_7(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_8(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_8(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_8(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

                <div class="form-group row px-1 pt-1">
                  <div class="col-md-4">
                    {{ form.medication_name_9(class="form-control", id="", placeholder="Medication / Suppliment Name") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_dose_9(class="form-control", placeholder="Dosage in Mg") }}
                  </div>
                  <div class="col-md-2">
                    {{ form.medication_freq_9(class="form-control", placeholder="x / Day") }}
                  </div>
                </div>

          </div>
          <!-- End Medications Tab Pane -->

          <!-- Start Insurance Tab Pane -->
          <div class="tab-pane" id="insurance" role="tabpanel" aria-labelledby="insurance-tab" aria-expanded="false">
            <h4 class="form-section">Medical Insurance</h4>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_provider_med.label }}</label>
              <div class="col-md-6">
                {{ form.ins_provider_med(class="form-control", id="ins_provider_med", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_planid_med.label }}</label>
              <div class="col-md-6">
                {{ form.ins_planid_med(class="form-control", id="ins_planid_med", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_street_addr_med.label }}</label>
              <div class="col-md-6">
                {{ form.ins_street_addr_med(class="form-control", id="ins_street_addr_med", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_city_med.label }}</label>
              <div class="col-md-6">
                {{ form.ins_city_med(class="form-control", id="ins_city_med", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_state_med.label }}</label>
              <div class="col-md-6">
                {{ form.ins_state_med(class="form-control", id="ins_state_med", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_zipcode_med.label }}</label>
              <div class="col-md-6">
                {{ form.ins_zipcode_med(class="form-control", id="ins_zipcode_med", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_phone_med.label }}</label>
              <div class="col-md-6">
                {{ form.ins_phone_med(class="form-control", id="ins_phone_med", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_email_med.label }}</label>
              <div class="col-md-6">
                {{ form.ins_email_med(class="form-control", id="ins_email_med", placeholder="") }}
              </div>
            </div>

            <h4 class="form-section">Dental Insurance</h4>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_provider_dental.label }}</label>
              <div class="col-md-6">
                {{ form.ins_provider_dental(class="form-control", id="ins_provider_dental", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_planid_dental.label }}</label>
              <div class="col-md-6">
                {{ form.ins_planid_dental(class="form-control", id="ins_planid_dental", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_street_addr_dental.label }}</label>
              <div class="col-md-6">
                {{ form.ins_street_addr_dental(class="form-control", id="ins_street_addr_dental", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_city_dental.label }}</label>
              <div class="col-md-6">
                {{ form.ins_city_dental(class="form-control", id="ins_city_dental", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_state_dental.label }}</label>
              <div class="col-md-6">
                {{ form.ins_state_dental(class="form-control", id="ins_state_dental", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_zipcode_dental.label }}</label>
              <div class="col-md-6">
                {{ form.ins_zipcode_dental(class="form-control", id="ins_zipcode_dental", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_phone_dental.label }}</label>
              <div class="col-md-6">
                {{ form.ins_phone_dental(class="form-control", id="ins_phone_dental", placeholder="") }}
              </div>
            </div>
            <div class="form-group row px-1 pt-1">
              <label class="col-md-2 label-control" for="bmi">{{ form.ins_email_dental.label }}</label>
              <div class="col-md-6">
                {{ form.ins_email_dental(class="form-control", id="ins_email_dental", placeholder="") }}
              </div>
            </div>
          </div>
          <!-- End Insurance Tab Pane -->


        </form> <!-- Close the form so the image uploads will work -->

        <!-- Start Images Tab Pane -->
          <div class="tab-pane" id="images" role="tabpanel" aria-labelledby="images-tab" aria-expanded="false">
            <div class="form-group row px-1 pt-1">
              <div class="col-md-12">
              <h4 class="form-section"><i class="fa fa-image"></i> Diagnostic Images</h4>

                <div class="form-group row px-1 pt-1">
                  <label class="col-md-2 label-control" for="bmi">{{ form.img_type.label }}</label>
                  <div class="col-md-6">
                    {{ form.img_type(class="form-control", id="img-type", placeholder="") }}
                  </div>
                </div>
                <div class="form-group row px-1 pt-1">
                  <label class="col-md-2 label-control" for="bmi">{{ form.img_file.label }}</label>
                  <div class="col-md-6">
                    {{ form.img_file(class="form-control", id="img-file", placeholder="") }}
                  </div>
                </div>
                <div class="form-group row px-1 pt-1">
                  <label class="col-md-2 label-control" for="bmi"></label>
                  <div class="col-md-6">
                    {{ form.img_submit(class="btn btn-primary", id="upload-customer-image", placeholder="Upload") }}
                  </div>
                </div>

            </div>
            </div>
        </div>
        <!-- End Images Tab Pane -->
            </div>


              <!-- Form Actions -->
              <div class="form-actions right px-1 pt-1" style="text-align: right;">
                <a href="/customers"><button type="button" class="btn btn-warning mr-1">
                  <i class="ft-x"></i> Cancel
                </button></a>
                <button type="submit" class="btn btn-primary" onclick="document.getElementById('customer-edit').submit();">
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>

            </div>





          </div>
        </div>



      </div> <!-- END card -->
    </div> <!-- END card wrapper -->
  </div>
</div>

{% endblock %}
